<style>
    .custom-navbar {
      background-color: #0dcaf0;
      height: 120px;
    }
    
    .navbar .navbar-nav {
      margin-left: auto; /* This pushes the links to the right */
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark custom-navbar">
    <div class="container">
        <a class="navbar-brand" style="color: white;">Letsconnect</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav">
                <!-- Empty <li> for spacing -->
                <li class="nav-item"></li>
               
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'body' %}" style="color: white" class="nav-link">Home</a>
                </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link" style="color: white">Logout</a>
                    </li>
                   
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" style="color: white" class="nav-link">Home</a>
                </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link" style="color: white">Login</a>
                    </li>
                    
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
